/* 소비요약 구간 */
.summary .blue {
  color: var(--main-color-dark);
}

.summary .red {
  color: var(--error-color);
}

.summary .green {
  color: var(--success-color);
}

.summary .accent {
  color: var(--accent-color);
}

.summary .exclamation {
  color: var(--black70);
}

.summary .card {
  border-color: var(--black10);
}

/* 코칭 전략 구간 */
.strategy hr {
  color: var(--black20);
}

.strategy .card {
  border-color: var(--black10);
}

.strategy .accent {
  color: var(--accent-color);
}

.strategy .caution {
  border-color: var(--color-sub3-40);
  background: var(--color-sub3-40);
}

.strategy .positive {
  border-color: var(--color-sub2-40);
  background: var(--color-sub2-40);
}

.strategy .red {
  color: var(--error-color);
}

.strategy .blue {
  color: var(--main-color-dark);
}

.strategy .tooltip p {
  font-size: large;
}
