/* 통계 메인 페이지 */
.statspage .toggle-wm {
  border-color: var(--black70);
}

.statspage .date-title {
  color: var(--accent-color);
}

.statspage .sub-title {
  color: var(--main-color-dark);
}

.category-stats,
.monthly-trend,
.weekly-trend {
  background-color: var(--black10);
}

.daily-trend {
  border-color: var(--main-color-dark);
}

.detail-area {
  background-color: var(--color-sub3-40);
}

/* 카테고리별 지출 */
.category-stats .badge {
  width: 3rem;
  border-color: var(--black20);
  background-color: var(--black20);
}
