/* 통계 메인 페이지 */
.statspage .toggle-wm {
  border-color: var(--black70);
}

.statspage .date-title {
  color: var(--accent-color);
}

.statspage .sub-title {
  color: var(--main-color-dark);
}

.statspage .stats-area2 {
  height: 300px;
}

.statspage .right {
  max-height: 610px;
}

.category-stats,
.monthly-trend,
.weekly-trend {
  background-color: var(--black10);
}

/* 카테고리별 지출 */
.category-stats {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.category-stats .blue {
  color: var(--main-color-dark);
}

.category-stats .badge {
  width: 2.5rem;
  border-color: var(--black20);
  background-color: var(--black20);
}

.category-stats-box .blue {
  color: var(--accent-color);
}

/* 월별 지출 총합 */
.monthly-trend .blue {
  color: var(--main-color-dark);
}

/* 주별 지출 총합 */
.weekly-trend .blue {
  color: var(--main-color-dark);
}

/* 지출 상세 내역 */
.detail-area {
  min-height: 205px;
  background-color: var(--color-sub3-40);
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-area .date {
  display: inline-block;
  width: 80px;
}

.detail-area .accent {
  color: var(--accent-color);
}

/* 일일 지출 추이 */
.daily-trend {
  border-color: var(--main-color-dark);
}
