.custom-side-menu li a:hover {
  background-color: var(--main-color-dark);
  color: white;
}
.sidebar {
  border-color: var(--main-color-dark);
}
.logout {
  color: var(--black30);
}

.logo {
  color: var(--accent-color);
}

.menu-tab-active a {
  background-color: var(--main-color-dark);
  color: white;
}
